user.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="User"
             targetNamespace="urn:User"
             xmlns:tns="urn:User"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xsd:complexType name='UserArray'>
            <xsd:element
              minOccurs='0'
              maxOccurs='unbounded'
              name='username'
              type='User'/>
            </xsd:complexType>
        <xsd:complexType name='User'>
            <xsd:all>
                <xsd:element
                minOccurs='0'
                maxOccurs='1'
                name='username'
                type='xsd:string'/>
                <xsd:element
                minOccurs='0'
                maxOccurs='1'
                name='password'
                type='xsd:string'/>
                <xsd:element
                minOccurs='0'
                maxOccurs='1'
                name='email'
                type='xsd:string'/>
            </xsd:all>
        </xsd:complexType>
    </types>
    <message name="GetUserRequest">
        <part name="username" type="xsd:string"/>
    </message>

    <message name="GetUserResponse">
        <part name="result" type="UserArray"/>
    </message>

    <message name="ActivateUserRequest">
        <part name="username" type="xsd:string"/>
    </message>

    <message name="ActivateUserResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <message name="DeactivateUserRequest">
        <part name="username" type="xsd:string"/>
    </message>

    <message name="DeactivateUserResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <message name="AddUserRequest">
        <part name="username" type="xsd:string"/>
        <part name="password" type="xsd:string"/>
        <part name="email" type="xsd:string"/>
    </message>

    <message name="AddUserResponse">
        <part name="result" type="xsd:string"/>
    </message>

    <portType name="UserPort">
        <operation name="getUser">
            <input message="tns:GetUserRequest"/>
            <output message="tns:GetUserResponse"/>
        </operation>
        <operation name="activateUser">
            <input message="tns:ActivateUserRequest"/>
            <output message="tns:ActivateUserResponse"/>
        </operation>
        <operation name="deactivateUser">
            <input message="tns:DeactivateUserRequest"/>
            <output message="tns:DeactivateUserResponse"/>
        </operation>
        <operation name="addUser">
            <input message="tns:AddUserRequest"/>
            <output message="tns:AddUserResponse"/>
        </operation>
    </portType>

    <binding name="UserBinding" type="tns:UserPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getUser">
            <soap:operation soapAction="urn:GetUserAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:User" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:User" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="addUser">
            <soap:operation soapAction="urn:AddUserAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:User" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:User" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="activateUser">
            <soap:operation soapAction="urn:ActivateUserAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:User" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:User" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="deactivateUser">
            <soap:operation soapAction="urn:DeactivateUserAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:User" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:User" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="WSDLService">
        <port name="UserPort" binding="tns:UserBinding">
            <soap:address location="http://localhost/api/wsdl/orgs/soap-server.php"/>
        </port>
    </service>
</definitions>